API_HOST=0.0.0.0
API_PORT=8000
OCPP16_PORT=9000
LOG_LEVEL=INFO
LOG_FORMAT=json

PG_HOST=localhost
PG_PORT=5432
PG_USER=opencpo
PG_PASSWORD=ocpp123
PG_DATABASE=opencpo
# DATABASE_URL=postgresql+asyncpg://opencpo:ocpp123@localhost:5432/opencpo

OCPP_HEARTBEAT_INTERVAL=60
HEARTBEAT_TIMEOUT_SECONDS=120
HEARTBEAT_CHECK_INTERVAL_SECONDS=30
